<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ap.deepstroll.mapper.AdminRoleMapper">

    <resultMap id="AdminRoleMap" type="ap.deepstroll.entity.AdminRoleEntity">
        <result property="adminRoleId" column="admin_role_id"/>
        <result property="adminId" column="admin_id"/>
        <result property="roleId" column="role_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="insertAdminRole">
        INSERT INTO 
        admin_role(
            admin_id, 
            role_id
        ) 
        VALUES
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{adminId}, 
             #{roleId})
        </foreach>
    </insert>

    <select id="queryByAdminId" resultMap="AdminRoleMap">
        SELECT
            admin_role_id,
            admin_id,
            role_id,
            create_time
        FROM admin_role
        WHERE admin_id = #{adminId}
    </select>

</mapper>