<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ap.deepstroll.mapper.DrawingMapper">

    <resultMap id="DrawingMap" type="ap.deepstroll.entity.DrawingEntity">
        <result property="id" column="id"/>
        <result property="authorId" column="author_id"/>
        <result property="title" column="title"/>
        <result property="introduction" column="introduction"/>
        <result property="url" column="url"/>
        <result property="labels" column="labels"/>
        <result property="classifyId" column="classify_id"/>
        <result property="likeNum" column="like_num"/>
        <result property="state" column="state"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTIme" column="update_time"/>
    </resultMap>

    <insert id="insertDrawing" parameterType="ap.deepstroll.entity.DrawingEntity">
        INSERT INTO
        drawing(
            author_id,
            title,
            introduction,
            labels,
            url,
            classify_id
        )
        VALUES(
            #{authorId},
            #{title},
            #{introduction},
            #{labels},
            #{url},
            #{classifyId}
        )
    </insert>

    <select id="queryDrawingByAuthorId" resultMap="DrawingMap">
        SELECT
            id,
            author_id,
            title,
            introduction,
            labels,
            url,
            classify_id,
            state,
            like_num,
            create_time,
            update_time
        FROM drawing
        <where>
            AND author_id = #{authorId}
            <if test="title != null">
                OR title = #{title}
            </if>
            <if test="label != null">
                OR labels like concat('%', #{label}, '%')
            </if>
            <if test="classifyId != null">
                AND classify_id = #{classifyId}
            </if>
            <if test="state != null">
                AND state = #{state}
            </if>
        </where>
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="queryDrawingNumByAuthorId" resultMap="java.lang.Integer">
        SELECT
            id,
            author_id,
            title,
            introduction,
            labels,
            url,
            classify_id,
            state,
            like_num,
            create_time,
            update_time
        FROM drawing
        <where>
            AND author_id = #{authorId}
            <if test="title != null">
                OR title = #{title}
            </if>
            <if test="label != null">
                OR labels like concat('%', #{label}, '%')
            </if>
            <if test="classifyId != null">
                AND classify_id = #{classifyId}
            </if>
            <if test="state != null">
                AND state = #{state}
            </if>
        </where>
    </select>

    <select id="queryDrawingById" resultMap="DrawingMap">
        SELECT
            id,
            author_id,
            title,
            introduction,
            labels,
            url,
            classify_id,
            state,
            like_num,
            create_time,
            update_time
        FROM drawing
        WHERE id = #{id}
    </select>

    <select id="queryDrawingByTitleLabClassifyState" resultMap="DrawingMap">
        SELECT
            id,
            author_id,
            title,
            introduction,
            labels,
            url,
            classify_id,
            state,
            like_num,
            create_time,
            update_time
        FROM drawing
        <where>
            <if test="title != null">
                OR title = #{title}
            </if>
            <if test="label != null">
                OR labels like concat('%', #{label}, '%')
            </if>
            <if test="classifyId != null">
                AND classify_id = #{classifyId}
            </if>
            <if test="state != null">
                AND state = #{state}
            </if>
            <if test="likeNum != null">
                AND like_num &gt;= #{likeNum}
            </if>
        </where>
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="queryDrawingNumByTitleLabClassifyState" resultType="Integer">
        SELECT
            count(*)
        FROM drawing
        <where>
            <if test="title != null">
                OR title = #{title}
            </if>
            <if test="label != null">
                OR labels like concat('%', #{label}, '%')
            </if>
            <if test="classifyId != null">
                AND classify_id = #{classifyId}
            </if>
            <if test="state != null">
                AND state = #{state}
            </if>
            <if test="likeNum != null">
                AND like_num &gt;= #{likeNum}
            </if>
        </where>
    </select>

    <update id="updateDrawingState">
        UPDATE drawing
        SET state = #{state}
        WHERE id = #{id}
    </update>

    <update id="updateLikeNumById">
        UPDATE drawing
        SET like_num = like_num + #{num}
        WHERE id = #{id}
    </update>
    
</mapper>